anime_venv/
venv/
.venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
dist/
Logs/
*.log
.env
.cometml-runs/
service_account*.json
gcp-credentials*.json
*-key.json
.dvc/tmp
.dvc/cache
frontend/node_modules/
frontend/dist/
frontend/.vite/
notebooks/
*.ipynb
.ipynb_checkpoints/
.vscode/
.idea/
*.DS_Store


artifacts/raw
artifacts/model
artifacts/model_checkpoint
artifacts/processed
artifacts/weights